@{
    ViewData["Title"] = "Control";
}
<br />
<div class="row">

    <div class="col-md-6 text-center">
        <canvas id="phoneCanvas" width="@ViewBag.width" height="@ViewBag.height"></canvas>

        <div class="btn-group phoneKeyBar">
            <button type="button" class="btn btn-primary android-menu" title="menu"><i class="glyphicon glyphicon-th-list"></i></button>
            <button type="button" class="btn btn-primary android-home" title="home"><i class="glyphicon glyphicon-home"></i></button>
            <button type="button" class="btn btn-primary android-back" title="back"><i class="glyphicon glyphicon-chevron-left"></i></button>
            <button type="button" class="btn btn-primary android-power" title="power"><i class="glyphicon 	glyphicon glyphicon-flash"></i></button>
        </div>
    </div>

    <div class="col-md-6">
        <h2>操作记录</h2>
        <div id="output" style="max-height: 600px; overflow-y: scroll;"></div>
    </div>
</div>


@section Scripts {
    <script language="javascript" type="text/javascript">


        $(function () {


            $("#loading").fadeIn();

            document.oncontextmenu = function () { return false; };
            document.ondragstart = function () { return false; };
            document.onselectstart = function () { return false; };
            document.onselect = function () { return false; };

            var wsUri = "ws://" + window.location.host + "/WS/Control";

           

            var phoneCanvas = document.getElementById("phoneCanvas");
            var context = phoneCanvas.getContext("2d");


            var image = new Image();
            var canvasWidth = phoneCanvas.width;
            var canvasHeight = phoneCanvas.height;

            image.onload = function () {
                context.clearRect(0, 0, canvasWidth, canvasHeight);
                context.drawImage(image, 0, 0, canvasWidth, canvasHeight);
                window.URL.revokeObjectURL(image.src)
            }

            image.src = "data:image/gif;base64,R0lGODlhAQAcALMAAMXh96HR97XZ98Hf98Xg97DX97nb98Lf97vc98Tg973d96rU97ba97%2Fe96XS9wAAACH5BAAAAAAALAAAAAABABwAAAQVMLhVBDNItXESAURyDI2CGIxQLE4EADs%3D";


            var output = document.getElementById("output");

            var websocket;

            function startWebSocket() {
                websocket = new WebSocket(wsUri);
                websocket.onopen = function (evt) {
                    onOpen(evt)
                };
                websocket.onclose = function (evt) {
                    onClose(evt)
                };
                websocket.onmessage = function (evt) {
                    onMessage(evt)
                };
                websocket.onerror = function (evt) {
                    onError(evt)
                };
            }

            function onOpen(evt) {
                doSend("control");
                writeToScreen("websocekt链接中,请耐心等待...");

                setTimeout(function () {
                    $("#loading").fadeOut(300);
                },2000);
            }

            function onClose(evt) {
                writeToScreen('<span style="color: red;">链接关闭!</span> ');
            }

            function onMessage(evt) {

                if (typeof (evt.data) == "string") {
                    writeToScreen('<span style="color: blue;">RESPONSE: ' + evt.data + '</span>');

                } else {
                    image.src = URL.createObjectURL(evt.data);
                }

            }

            function onError(evt) {
                $("#loading").fadeOut(300);
                writeToScreen('<span style="color: red;">WebSocek 错误,您可以刷新页面重新尝试 或 将相关错误信息发送给管理人员!</span> ');

            }

            function doSend(message) {
                websocket.send(message);
                writeToScreen("SENT: " + message);
            }
            function doSendNoWrite(message) {
                websocket.send(message);
            }

            function writeToScreen(message) {
                var pre = document.createElement("p");
                pre.style.wordWrap = "break-word";
                pre.innerHTML = message;
                output.appendChild(pre);
                output.scrollTop = output.scrollHeight;
            }

            var mousedown = false;
            phoneCanvas.onmousedown = function (e) {
                if (e.button == 2) return;
                var rect = this.getBoundingClientRect();
                var mouseX = e.clientX - rect.left;//获取鼠标在canvsa中的坐标
                var mouseY = e.clientY - rect.top;

                doSend("1:" + mouseX + "," + mouseY);

                mousedown = true;

            }

            phoneCanvas.onmouseout = function (e) {
                if (e.button == 2) return;

                if (mousedown != true) return;
                mousedown = false;
                doSend("2:up");
            }

            phoneCanvas.onmouseup = function (e) {
                if (e.button == 2) return;
                if (mousedown != true) return;
                mousedown = false;
                doSend("2:up");
            }

            phoneCanvas.onmousemove = function (e) {
                if (e.button == 2) return;
                if (mousedown != true) return;
                var e = window.event || e

                var rect = this.getBoundingClientRect();

                var mouseX = e.clientX - rect.left;//获取鼠标在canvsa中的坐标

                var mouseY = e.clientY - rect.top;

                doSendNoWrite("3:" + mouseX + "," + mouseY);

            }

            // Set up touch events for mobile, etc
            phoneCanvas.addEventListener("touchstart", function (e) {
                mousePos = getTouchPos(phoneCanvas, e);
                var touch = e.touches[0];
                var mouseEvent = new MouseEvent("mousedown", {
                    clientX: touch.clientX,
                    clientY: touch.clientY
                });
                phoneCanvas.dispatchEvent(mouseEvent);
            }, false);
            phoneCanvas.addEventListener("touchend", function (e) {
                var mouseEvent = new MouseEvent("mouseup", {});
                phoneCanvas.dispatchEvent(mouseEvent);
            }, false);
            phoneCanvas.addEventListener("touchmove", function (e) {
                var touch = e.touches[0];
                var mouseEvent = new MouseEvent("mousemove", {
                    clientX: touch.clientX,
                    clientY: touch.clientY
                });
                phoneCanvas.dispatchEvent(mouseEvent);
            }, false);

            // Get the position of a touch relative to the canvas
            function getTouchPos(canvasDom, touchEvent) {
                var rect = canvasDom.getBoundingClientRect();
                return {
                    x: touchEvent.touches[0].clientX - rect.left,
                    y: touchEvent.touches[0].clientY - rect.top
                };
            }


            $(".android-menu").click(function () {
                doSend("4:82");
            })

            $(".android-home").click(function () {
                doSend("4:3");
            })

            $(".android-back").click(function () {
                doSend("4:4");
            })

            $(".android-power").click(function () {
                doSend("4:26");
            })

            //确保服务器已经释放相关资源
            setTimeout(function () {
                startWebSocket();
            }, 500);


        })

    </script>
}
