@{
    ViewData["Title"] = "Home Page";
}

<h2>WebSocket Test</h2>
<div id="output"></div> 
<canvas id="Canvas" width="@ViewBag.width" height="@ViewBag.height"></canvas>

<script language="javascript" type="text/javascript">

    var wsUri = "ws://localhost:5000/Websocket";
    var output;

    function init() {
        output = document.getElementById("output");
        testWebSocket();
    }

    function testWebSocket() {

        websocket = new WebSocket(wsUri);
        websocket.onopen = function(evt) {
            onOpen(evt)
        };
        websocket.onclose = function(evt) {
            onClose(evt)
        };
        websocket.onmessage = function(evt) {
            onMessage(evt)
        };
        websocket.onerror = function(evt) {
            onError(evt)
        };
    }

    function onOpen(evt) {
        doSend("WebSocket rocks");
        writeToScreen("开始链接设备,请耐心等待");
    }

    function onClose(evt) {
        writeToScreen("链接关闭!");
    }

    var canvas = document.getElementById("Canvas");
    var context = canvas.getContext("2d");
    var cWidth= canvas.width;
    var cHeight= canvas.height;

    function onMessage(evt) {

        if (typeof (evt.data) == "string") {
            writeToScreen('<span style="color: blue;">RESPONSE: ' + evt.data + '</span>');
        } else {
            var image = new Image();

            image.onload = function () {
                context.clearRect(0, 0,cWidth, cHeight);
                context.drawImage(image, 0, 0, cWidth, cHeight);
                window.URL.revokeObjectURL(image.src)
            }
            image.src = URL.createObjectURL(evt.data);
        }
        //writeToScreen('<span style="color: blue;">RESPONSE: ' + evt.data + '</span>');
        //websocket.send("");
    }

    function onError(evt) {
        writeToScreen('<span style="color: red;">链接失败,请确认是否已经有人链接此设备!</span> ');
    }

    function doSend(message) {
        writeToScreen("SENT: " + message);
        websocket.send(message);
    }

    function writeToScreen(message) {
        var pre = document.createElement("p");
        pre.style.wordWrap = "break-word";
        pre.innerHTML = message;
        output.appendChild(pre);
    }

    window.addEventListener("load", init, false);
</script>
