@{
    ViewData["Title"] = "Watch";
}
<br />
<div class="row">

    <div class="col-md-6 text-center">
        <canvas id="phoneImg" width="@ViewBag.width" height="@ViewBag.height"></canvas>
    </div>

    <div class="col-md-6">
        <h2>观看模式</h2>
        <div id="output" style="max-height: 600px; overflow-y: scroll;"></div>
    </div>
</div>


@section Scripts {
    <script language="javascript" type="text/javascript">


        $(function () {


            $("#loading").fadeIn();


            var wsUri = "ws://" + window.location.host + "/WS/Watch";
           
            var phoneImg = document.getElementById("phoneImg");
            var context = phoneImg.getContext("2d");
            var cWidth = phoneImg.width;
            var cHeight = phoneImg.height;

            var defultImg = new Image();
            defultImg.src = "data:image/gif;base64,R0lGODlhAQAcALMAAMXh96HR97XZ98Hf98Xg97DX97nb98Lf97vc98Tg973d96rU97ba97%2Fe96XS9wAAACH5BAAAAAAALAAAAAABABwAAAQVMLhVBDNItXESAURyDI2CGIxQLE4EADs%3D";
            context.drawImage(defultImg, 0, 0, cWidth, cHeight);


            var output = document.getElementById("output");

            var websocket;

            function startWebSocket() {
                websocket = new WebSocket(wsUri);
                websocket.onopen = function (evt) {
                    onOpen(evt)
                };
                websocket.onclose = function (evt) {
                    onClose(evt)
                };
                websocket.onmessage = function (evt) {
                    onMessage(evt)
                };
                websocket.onerror = function (evt) {
                    onError(evt)
                };
            }

            function onOpen(evt) {
                doSend("control");
                writeToScreen("websocekt链接中,请耐心等待...");
                setTimeout(function () {
                    $("#loading").fadeOut(300);
                }, 2000);
            }

            function onClose(evt) {
                writeToScreen('<span style="color: red;">链接关闭!</span> ');
            }

            function onMessage(evt) {
                if (typeof (evt.data) == "string") {
                    writeToScreen('<span style="color: blue;">RESPONSE: ' + evt.data + '</span>');
                } else {
                    var image = new Image();

                    image.onload = function () {
                        context.clearRect(0, 0, cWidth, cHeight);
                        context.drawImage(image, 0, 0, cWidth, cHeight);
                        window.URL.revokeObjectURL(image.src)
                    }

                    image.src = URL.createObjectURL(evt.data);
                }

            }

            function onError(evt) {
                $("#loading").fadeOut(300);
                writeToScreen('<span style="color: red;">WebSocek 错误,您可以刷新页面重新尝试 或 将相关错误信息发送给管理人员!</span> ');

            }

            function doSend(message) {
                websocket.send(message);
                writeToScreen("SENT: " + message);
            }
            function doSendNoWrite(message) {
                websocket.send(message);
            }

            function writeToScreen(message) {
                var pre = document.createElement("p");
                pre.style.wordWrap = "break-word";
                pre.innerHTML = message;
                output.appendChild(pre);
                output.scrollTop = output.scrollHeight;
            }

            


            //确保服务器已经释放相关资源
            setTimeout(function () {
                startWebSocket();
            }, 500);


        })

    </script>
}
